#container{
    width: 1000px;
    height: 700px;
    margin: auto; /*to make the container in the middle of the page*/

}

#header{
    display: flex;
    align-content: center;
    justify-content: space-between;
   /* background-color: rgb(226, 220, 220);*/
   background:  linear-gradient(to bottom right , #e6e4e4f3, #f8f2f8);
    padding: 5px;
    
}
#content{
   /* background-color: rgb(83, 47, 83);*/
   background:  linear-gradient( #420342, #946989, #422d42);
}
#header1{
    padding-left: 20px;
    font-family: cursive;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    align-content: center;
    line-height: 30px;
  
}

#header2{
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    align-content: center;
    line-height: 35px;
}
#photo-of-me{
    width: 450px;
    height: 300px;
    border: 5px solid #cdd0d3;
    vertical-align: top;
    margin: 15px; /*to make a gap between the picture and about div*/
}
#first-part{
    display: flex;
    padding: 25px;
    align-content: center;  
}
#about-header{
   /* background-color: rgb(117, 116, 115);*/
   background: linear-gradient(#c4c4cc, #838288, #9d9d9e);
    padding-left: 10px;
    font-family: Cambria;
    font-size: 30px;
    font-weight: bold;
}
#about-sammury{
    vertical-align: top;
    padding: 5px;
    font-family: Arial;


}
#About{
   
    flex: 1;
   /* background-color: rgb(197, 194, 192);*/
   background:  linear-gradient(to left , #969292, #f8f2f8);
    width: 450px;
    height: 310px;
    display: inline-block;
    margin: 15px; /*to make a gap between the picture and about div*/
    
    
}

a{
    color: black;
}
/*********************************************************************************************************/

#second-part{
    display: flex;
    justify-content: space-between;
   /* padding: 40px;*/
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 40px;
   

}
#La-Mode{
    width: 280px;
    height: 500px;
}
#LaMode-Header{
    /*background-color: rgb(117, 116, 115);*/
    background: linear-gradient(#c4c4cc, #838288, #9d9d9e);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
   /* margin: 40px;*/

}

#lamode-img{
    width: 280px;
    height: 150px;

}
#lamode-container{
   /* background-color: rgb(184, 176, 164);*/
    background:  linear-gradient(to left , #969292, #f8f2f8);
}

#LaMode-Tecnologies-Header{
  /*  background-color: rgb(117, 116, 115);*/
  background: linear-gradient(#c4c4cc, #838288, #9d9d9e);
    padding: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.tech-img{
    width: 40px;
    height: 40px;
    padding: 5px;
}

#lamode-technologies-pictures{
   /* background-color: rgb(184, 176, 164);*/
   background:  linear-gradient(to left , #969292, #f8f2f8);
}
#lamode-text{
    padding: 10px;
    text-align: start;
    vertical-align: top;
}

#La-Mode-button{
    text-decoration: none;
    background-color: rgb(87, 126, 87);
    border-radius: 10px;
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: 2px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#firstButton{
    text-align: center;
}


/*********************************************************************************************************/

#Family-Contacts{
    width: 280px;
    height: 500px;

}

#FamilyContacts-Header{
   /* background-color: rgb(117, 116, 115);*/
   background: linear-gradient(#c4c4cc, #838288, #9d9d9e);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
   /* margin: 40px;*/

}

#familycontacts-img{
    width: 280px;
    height: 150px;

}
#familycontacts-container{
   /* background-color: rgb(184, 176, 164);*/
   background:  linear-gradient(to left , #969292, #f8f2f8);
}

#FamilyContacts-Tecnologies-Header{
  /*  background-color: rgb(117, 116, 115);*/
  background: linear-gradient(#c4c4cc, #838288, #9d9d9e);
    padding: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#FamilyContacts-technologies-pictures{
   /* background-color: rgb(184, 176, 164);*/
   background:  linear-gradient(to left , #969292, #f8f2f8);
}
#familycontacts-text{
    padding: 10px;
    text-align: start;
    vertical-align: top;

}

#Family-Contacts-button{
    text-decoration: none;
    background-color: rgb(87, 126, 87);
    border-radius: 10px;
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: 2px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#secondButton{
    text-align: center;
}

/*********************************************************************************************************/

#fiveEleven{
    width: 280px;
    height: 500px;

}

#fiveEleven-Header{
  /* background-color: rgb(117, 116, 115);*/
  background: linear-gradient(#c4c4cc, #838288, #9d9d9e);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
   /* margin: 40px;*/

}

#fiveEleven-img{
    width: 280px;
    height: 150px;

}
#fiveEleven-container{
   /* background-color: rgb(184, 176, 164);*/
   background:  linear-gradient(to left , #969292, #f8f2f8);
}

#fiveEleven-Tecnologies-Header{
   /* background-color: rgb(117, 116, 115);*/
   background: linear-gradient(#c4c4cc, #838288, #9d9d9e);
    padding: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#fiveEleven-technologies-pictures{
   /* background-color: rgb(184, 176, 164);*/
   background:  linear-gradient(to left , #969292, #f8f2f8);
}
#fiveEleven-text{
    padding: 10px;
    text-align: start;
    vertical-align: top;

}

#five-Eleven-button{
    text-decoration: none;
    background-color: rgb(87, 126, 87);
    border-radius: 10px;
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: 2px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#thirdButton{
    text-align: center;
}
/**********************************************************************************************************/
.tech-img1{
    width: 20px;
    height: 20px;
}
#footer{
   /* background-color: rgb(226, 220, 220);*/
   background:  linear-gradient(to top , #c2bfbf, #f8f2f8);
}

#footer1{
    text-align: center;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: inherit;
}

#footer2{
    display: flex;
    justify-content: center;
    font-family: Verdana;
    font-style: italic;
    font-size: 15px;


}


